body{
	margin:0;
	padding:0;
	min-height:100%;
	position: relative;


}
.container{
	position: fixed; 
  	top: 0; 
	left: 0; 
	min-height:100%;
	min-width:100%;




}
.video{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:320px;
	height:240px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index:1;
}
.text{
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 20px;

}
.logo{	
	position: absolute;
	left: 20px;
	top:15px;
	height:50px;
	width: 50px;	
}
.title{
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 
	padding-left: 100px;
	margin-left:60px;
	margin-top:20px;
	float:left;
}
.intro{
	position: absolute;
	top:25%;
	left:50%;
	font-size: 1.5em;
	color: white;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	transform: translate(-50%,-50%);

}
#subscribe{
		position: absolute;
		top:50px;
		left:50px;

		z-index: 2;
	}

#mc_embed_signup{
	position: absolute;
	background:#fff; 
	clear:left; 
	font:14px Helvetica,Arial,sans-serif; 
	z-index: 2;

}
	