body{
	margin:0;
	padding:0;
	min-height:100%;
	position: relative;


}
.container{
	position: fixed; 
  	top: 0; 
	left: 0; 
	min-height:100%;
	min-width:100%;

}
.video{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:320px;
	height:240px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index:1;
	
}
.text{
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 3px;


}
.logo{	
	position: absolute;
	left: 20px;
	top:23px;
	height: 35px;
	width: 35px;	
	margin-right: 0px;
}
.title{
	color: white;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 700;
	padding-left: 60px;
	margin-top:20px;
	float:left;
}
.intro{
	position: absolute;
	top:25%;
	left:50%;
	font-size: 1.5em;
	color: white;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	transform: translate(-50%,-50%);

}

#mc_embed_signup{
	position: absolute;
	top:80%;
	left:50%;
	font-size: 1.5rem;
	color: white;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	transform: translate(-50%,-50%);
	z-index: 2;
	background-color: transparent;


	}
#mce-EMAIL{
	width: 20rem;
	height: 2rem;
	background-color: transparent;
	border-style: solid;
	border-top:none;
	border-right:none;
	border-left:none;
	border-color: white;
	border-width: 3px;

	}
#mc-embedded-subscribe{
	border: solid;
	color: white;
	background-color: transparent;
	width: 9rem;
	height: 2.8rem;
	font-size: 1.2rem;
	font-weight: bold;
	padding-bottom: 0px;
}
.clear , #mc-embedded-subscribe ,#mce-EMAIL {
		display: inline;
	}
::-webkit-input-placeholder { /* Chrome */
	font-size:1.2rem;
	color: white;
	font-weight: bold;

}
.social_media{
	position: absolute;
	top:90%;
	left:50%;
	font-size: 2rem;
	color: white;
	font-weight: 500;
	transform: translate(-50%,-50%);
	z-index: 2;
}
.fa-twitter, .fa-instagram{
padding-left: 3rem;

}
a{
	color:white;
}
input:focus{
	outline: none;
}
/*media quiries*/
@media screen and (max-width: 980px){
	#mce-EMAIL{
		width: 10rem;
		height: 1.5rem;


	}
	#mc-embedded-subscribe{
		width: 6rem;
		font-size: 0.8rem;
		height: 2rem;


	}

	::-webkit-input-placeholder { /* Chrome */
	font-size:0.8rem;
	color: white;
	font-weight: bold;

}
	.intro{
			font-size: 1.1rem;

	}
	.social_media{
		font-size:1.7rem;
	}


@media screen and (max-width: 650px){
	.text{
		min-width: 100%;
	}
	.intro{
			font-size: 0.6rem;

	}
		#mce-EMAIL{
		width: 6rem;
		height: 1.1rem;


	}
	#mc-embedded-subscribe{
		width: 4rem;
		font-size: 0.2rem;
		height: 1.5rem;


	}

	::-webkit-input-placeholder { /* Chrome */
	font-size:0.5rem;
	color: white;
	font-weight: bold;

}
	.social_media{
		font-size:1.2rem;
	}
	.fa-twitter, .fa-instagram{
		padding-left: 1.5rem;

}


}

}